* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}



.webpage {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
}


/* -------------------------
   HEADER
------------------------- */

.top-homepage {
    width: 100%;
    height: 320px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 10px;
}

.top-homepage.new-row {
    padding: 40px;
    height: 100%;
}

.logo {
    font-size: 16px;
}

nav {
    display: flex;
    gap: 60px;
}

nav a {
    color: #000;
    text-decoration: none;
}

.menu-toggle {
    display: none;
}


/* -------------------------
   PROJECT GRID
------------------------- */

.grid-container {
    width: 100%;
    padding: 0 10px;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
}

.grid-container-2.column-layout {
    display:flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

.grid-container-2.two-column-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}

.video {
    width: 100%;
    height: auto;
    display: block;
}


/* -------------------------
   PROJECT
------------------------- */

.case-study-container {
    width: 100%;
    margin-bottom: 40px;   
}

.case-study-container a {
    display: block;
    color: #000;
    text-decoration: none;

}

.case-study-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}




.case-study-text {
    margin-top: 8px;
    font-size: 12px;
}

.project-name {
    padding-top: 10px;
    font-size: 12px;
}

.project-name-span {
    padding-top: 10px;
    font-size: 10px;
    color: #656565;
}

.project-copy-content {
    display: flex;
    justify-content: space-between;
}



.intro-copy {
    padding-bottom: 100px;
    font-size: 16px;
}

.intro-copy.case-study-intro {
    padding-bottom: 0px;
    font-size: 16px;
}

.intro-copy.case-study-intro.new-row {
    width: 50%;
    padding: 5%;
}

@media(min-width: 1024px){
a {
    position: relative;
    text-decoration: none;
    color: inherit;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 1px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

a:hover::after {
    transform: scaleX(1);
}
}

@media (max-width: 1080px) {


    .project-copy-content {
        display: block;
    }
}

@media (max-width: 768px) {

    .grid-container-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        width: 100%;
    }

    .menu-toggle {
        display: block;
        position: relative;
        z-index: 10;
        border: none;
        background: none;
    }

    nav {
        position: fixed;
        top: 0;
        right: 0;

        width: 7vw;
        height: 100vh;
        box-shadow: -8px 0 30px rgba(0, 0, 0, 0.08);

        background: #fff;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        padding: 80px;

        transform: translateX(100%);

        transition:
            transform 0.7s cubic-bezier(0.76, 0, 0.24, 1);
    }


    nav.open {
        transform: translateX(0);
    }
}



@media (max-width: 600px) {

    .intro-copy.case-study-intro.new-row {
    width: 100%;
    padding: 2%;
}

    .grid-container{
        padding-bottom: 5%;
    }

    .grid-container-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);


    }

    .top-homepage {
        height: 230px;
    }

    .grid-container-2.two-column-layout{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }

    .grid-container-2.column-layout {
        width: 100%;
    }

    .top-homepage.new-row {
        padding: 0;
    }

    .case-study-container {
        margin-bottom: 5px;
    }
}



@media (max-width: 462px) {
    .project-copy-content {
        display: block;
    }

    .intro-copy.case-study-intro {
        padding-bottom: 0px;
        font-size: 0.889rem;
        line-height: 1.1rem;
    }

    .case-study-container{
        padding-bottom: 5%;
    }

    .project-name-span {
        padding-top: 5px;
    
    }
}
